*{
  margin:0; padding:0; box-sizing:border-box; font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
html,body{
  height:100%;
  width:100%; 
}
button{
  padding: 10px 20px ; 
  margin: 20px 30px ; 
  background-color:red ; 
  color: white ; 
  border : 2px solid yellow ; 
  border-radius: 14px ; 
}
h1{
    padding: 10px 20px ; 
  margin: 20px 30px ; 
  background-color: gainsboro;
  border-radius:5px ; 
  font-size: 50px;
  width: fit-content;
}
h2{
  background-color: rgb(237, 152, 152) ; 
}