.header{
    background-color:lightblue; 
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 20px;
    margin:5px; 
}

.loginbtn{
    background-color:rgb(0, 30, 255); 
    border: none;
    padding:8px; 
    border-radius:5px;
}