*{
  margin:0; padding:0; box-sizing:border-box; font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
html,body{
  height:100%;
  width:100%; 
}

.Light{
  background-color: rgb(9, 221, 218) ; 
  color:black ; 
   display:flex ; 
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center ; 
}
.Dark{
  background-color: rgb(0, 16, 73) ; 
  color:white ;
  display:flex ; 
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center ; 
}
.Nav2{
display:flex ; 
gap:30px ; 
}
