*{
  margin:0; padding:0; box-sizing:border-box; font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
html,body{
  height:100%;
  width:100%; 
}
.parent{
  min-height:100vh; 
   width:100%; 
   background-color: #111; 
   padding:30px ; 
   display:flex; 
   gap:30px; 
   flex-wrap: wrap;
}
.card{
  height:300px; 
  width:300px;
  background-color: #fff; 
  border-radius:30px ; 
  display:flex; 
  flex-direction: column;
  justify-content: space-between;
  padding:30px ; 
}
.card .top{
  display:flex ; align-items:center ; justify-content:space-between ; 
}
.top img{
  height:40px ; width:40px ; 
  border-radius:50% ; border:3px solid #dadada;
  object-fit:cover ;
  padding:2px ; 
}
.top button{
  display:flex; 
  align-items:center ;
  border:1px solid #dadada ;
  padding:4px 8px ; 
  border-radius:5px ; 
  font-size:14px; 
  gap:3px ; 
  background-color:transparent ;
  color:#b1b1b1 ;
  cursor:pointer ;
}
.center{
  padding:14px 4px ; 
}
.center h3 {
  font-size:17px ; 
  font-weight: 600; 
}
.center h3 span{
  font-size:10px ; 
  font-weight: 400; 
  color: #8b8b8b;
}
.center h2{
  font-size:20px ; 
  padding-top:10px; 
}
.center .tag{
  display:flex ; 
  gap:5px ; 
}
.center .tag h4{
  font-size:12px ; 
  font-weight:500; 
  background-color:#f0f0f0 ; 
  padding:2px 6px ; 
  border-radius:4px ; 
  color:#7a7a7a ;
}
.bottom{
  display:flex ; align-items:center ; 
  justify-content:space-between ;border-top:2px solid #dadada ; 
  padding:14px 4px ; 
}
.bottom p{
  color:#8b8b8b; 
  font-size: 10px;
}
.bottom button{
  background-color:black; 
  border:none ;
   border-radius: 4px ; 
   padding: 12px 10px; 
   color:white ; 
   cursor:pointer ;
}