*{
  margin:0; padding:0; box-sizing:border-box; font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color:#fff; 
}
html,body{
  height:100%;
  width:100%; 
}
body{
  Background-color:#111; 
}
.card{
 width:300px ; 
 border : 2px solid white ; 
 padding:20px ; 
 text-align:center; 
 border-radius:10px ; 
 background-color:#333; 
}
.card img{
  height:100px ; width:100px ; object-fit:cover; border-radius:50% ; 
}
.parent{
  padding:20px ; 
  display:flex; 
flex-wrap: wrap;
gap:20px ; 
}
.card p{
  margin:20px 0px ; 
}
.card button{
  padding: 10px 20px ; 
  color:black; 
  border-radius: white; 
  border:none; 
  background-color:white; 
}