*{
  margin:0; padding:0; box-sizing:border-box; font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
html,body{
  height:100%;
  width:100%; 
}
body{
  background-color:#000000;
}
h1{
  position:absolute ; 
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size:50px;
  color:#333;
  text-decoration: underline;
  color:rgb(255, 255, 255) ; 
}
.nav{
display:flex ; 
gap:20px ;align-items: center;
justify-content: space-between;
padding:20px 40px ; 
background-color: aquamarine;
color:white ; 
}
.nav div{
  display:flex ;
  gap:40px;
  align-items: center;
  
}
Link{
  text-decoration: none;
  color:black ;
}